{% extends "global/BaseCSR.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Quiz 6
{% endblock %}

{% block content %}

    <p class="text-success">
    </p>


        <div class="panel-heading">
                <h3>Each member of your group, including you, has 60 points available to invest. </h4>
                <h3>How many points would <b>you</b> earn if <b>your group members</b> invest a total of 60 points into the Individual Exchange, and 120 points into the Group Exchange? </h4>
                <h3>Remember to add the Automatic Score. Assume that you place all your 60 points in the Group Exchange.</h4>
        </div>



        <table class="table">
                <tr>
                <h3>
                    <th width="33%" style="vertical-align:text-top; text-align: right; font-size:190%">
                      <br> Your score:
                    </th>
                <th  width="15%" style="vertical-align:bottom;align: center;">
                     <br> <br>       {% formfield player.quiz_06 with label="" %}  
                </th>
                    <th  width="50%" style="vertical-align:bottom; text-align: left">
                  
                    </th>
                </tr>
            </table>


    {% next_button %}
<script type="text/javascript">
    document.getElementById('id_quiz_06').focus()
</script>

    <p>
        <br><br>
        Full Instructions <a href="#" id="hide">Hide</a> - <a href="#" id="show">Show</a>
    </p>

    <div id='instrucs' style="display:none"> {% include Constants.instructions_template %} </div>



{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $("#instrucs").hide();
        });
        $("#show").click(function(){
            $("#instrucs").show();
        });
    });
    </script>
{% endblock %}
