{% extends "global/BaseCSR.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Quiz 2 Solution
{% endblock %}

{% block content %}

    <p class="text-success">
    </p>

        <div class="instructions well well-lg">
        <h3><font color="green">Correct!</font> </h3>
        <h3>If you and your counterpart end up at <b>A3</b> you contribute the same amount to the Group Exchange as you did in Part 2.</h3>
        <h3>You initially contributed <b>30 points</b>, and your therefore still contribute <b>30 points</b> now.</h3>
        <br>
        </div>



    {% next_button %} <br><br><br><br><br>

{% endblock %}
