{% extends "global/BaseCSR.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
	Wait...
{% endblock %}


{% block content %}

<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">
        
    </h2>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>


    <p><br>
      Please wait for instructions from your experimenter. 
       </p>





</div>

    {% if debug %}
      In debug mode only, 
      {% next_button %}<br><br><br>
    {% endif %}

{% endblock %}