{% extends "global/BaseCSR.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions 1
{% endblock %}

{% block content %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <h4>
        Thank you for participating in this study on economic decision making.
    </h4>


    <p>
        Please read, sign, and return the consent form in front of you and await further instructions from the experimenter. 
    </p>
        
    </p>

</div>

    {% if debug %}
      In debug mode only, 
      {% next_button %}<br><br><br>
    {% endif %}

{% endblock %}
