{% extends "global/BaseCSR.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<style type="text/css">
.table-bordered .tg-baqh{text-align:center;vertical-align:top}
.table-bordered .tg-yw4l{vertical-align:top}
</style>


<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        You are about to start the <b>typing task</b>.
    </p>
    <p>
        The typing task is to correctly type sequences of randomly selected letters and numbers.
    </p>
    <p>
        You will have five minutes to type as many sequences as possible. Note that each character has to be correct.
    </p>
    <p>
        After typing a text sequence, click the <b>Next</b> button or click the keyboard button <b>Enter</b> to submit it. Then a new text sequence will be generated.
    </p>
    <p>
        The number of correctly-typed sequences is displayed on the lower part of the screen.
    </p>
    <p>
        You will get points for each successfully typed sequence, as follows:

        <table class="table table-bordered">  
          <tr>
            <th class="tg-yw4l">Correctly typed text sequences</th>
            <th class="tg-baqh">0≤10</th>
            <th class="tg-baqh">11</th>
            <th class="tg-baqh">12</th>
            <th class="tg-baqh">13</th>
            <th class="tg-baqh">14</th>
            <th class="tg-baqh">15</th>
            <th class="tg-baqh">16</th>
            <th class="tg-baqh">17</th>
            <th class="tg-baqh">18</th>
            <th class="tg-baqh">19</th>
            <th class="tg-baqh">≥20</th>
          </tr>
          <tr>
            <td class="tg-yw4l">Points</td>
            <td class="tg-baqh">40</td>
            <td class="tg-baqh">42</td>
            <td class="tg-baqh">44</td>
            <td class="tg-baqh">46</td>
            <td class="tg-baqh">48</td>
            <td class="tg-baqh">50</td>
            <td class="tg-baqh">52</td>
            <td class="tg-baqh">54</td>
            <td class="tg-baqh">56</td>
            <td class="tg-baqh">58</td>
            <td class="tg-baqh">60</td>
          </tr>
        </table>

    </p>
    <p>
    </p>




</div>

    {% if debug %}
      In debug mode only, 
      {% next_button %}<br><br><br>
    {% endif %}

{% endblock %}
