{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Quiz 3
{% endblock %}

{% block content %}

    <p class="text-success">
    </p>


        <div class="panel-heading">
                <h3>Each member of your group has 60 points available to invest.</h4>
                <h3>How many points would each of <b>your group members</b> earn if <b>you</b> invest 30 points into the Individual Exchange, and 30 points into the Group Exchange?</h4>
                <h3>Remember to add their Automatic Earnings. Assume that the other members place all their points in the Group Exchange.</h4>
        </div>



        <table class="table">
                <tr>
                <h3>
                    <th width="45%" style="vertical-align:text-top; text-align: right; font-size:190%">
                      <br> Your group members’ earnings:
                    </th>
                <th  width="15%" style="vertical-align:bottom;align: center;">
                     <br> <br>       {% formfield player.quiz_03 with label="" %}  
                </th>
                    <th  width="50%" style="vertical-align:bottom; text-align: left">
                  
                    </th>
                </tr>
            </table>


    {% next_button %}

{% endblock %}
