{% extends "global/BaseCSR.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Select your decision
{% endblock %}

{% block content %}
    <p>
        You will be a <b><font color="Blue">Role F</b></font> participant for the remainder of this experiment.
    </p>

<!--     <p>
        Investment round: {{stage_round}} of 5
    </p> -->

    <p>
    	In making this decision, assume Player A just selected A2.
    </p>

    <p>
        Your earned {{ self_score|floatformat:"2" }} in the randomly chosen paid round in Part 2. Overall on average, you contribted {{self_overall_ge_percent|floatformat:"2"}}% to the group exchange. In Part 1 you earned {{ self_ret_score|floatformat:"2" }}. 
    </p>

    <p>
        Your counterpart, Role A earned {{counter_party_score|floatformat:"2"}} in the randomly chosen paid round in Part 2. Overall on average they contributed {{ counter_party_overall_ge_percent |floatformat:"2"}}% to the group exchange. In the typing task they earned {{countery_party_ret_score|floatformat:"2"}}. 
    </p>


	<p>
	    {% for field in form %}
	        {% formfield field %}
	    {% endfor %}
	</p>

    <ul>
        <il><p><b>F1</b> means Role F increases their contribution to the group exchange in Part 2 by 1.5 times their average contribution. Role A will contribute to the group exchange the same aver age contribution from Part 2.
        <il><p><b>F2</b> means Role F maintains their original contribution to the group exchange. The Role A participant will then be asked to make another decision.
    </ul>
	    
        <center><img src="/static/img/stage2.png"/ height="300" align="center"></center>


    {% next_button %}


    <p>
    	<br><br>
        Full Instructions <a href="#" id="hide">Hide</a> - <a href="#" id="show">Show</a>
    </p>

	<div id='instrucs' style="display:none"> {% include Constants.instructions_template %} </div>



{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $("#instrucs").hide();
        });
        $("#show").click(function(){
            $("#instrucs").show();
        });
    });
    </script>
{% endblock %}
